Repository freifunkMUC/wgkex, pull requests merged in 2024-04, with the labels that each got.

#136 Update Dockerfile to bazel 7.1.1
  Dockerfile
Labels: dependencies, docker

#134 add mermaid to ReadMe
  README.md
Labels: documentation

#137 Handle NetlinkDumpInterrupted, fix worker metrics going stale after exceptions
  wgkex/worker/mqtt.py
  wgkex/worker/mqtt_test.py
  wgkex/worker/netlink.py
  wgkex/worker/netlink_test.py
Labels: bug, worker
